---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I’m a <strong>Senior Software Developer</strong> with over 9 years of experience, passionate about solving complex problems and building efficient, 
      scalable solutions. I thrive on challenges and enjoy working on projects that push the boundaries of what's possible. 
      I’m driven by a curiosity to learn and a commitment to delivering quality in everything I do. 
      I also find fulfillment in mentoring others and sharing knowledge. 
      I’m dedicated to creating software that not only meets technical goals but also makes a meaningful impact.
    </p>
    <p>
      Alongside my professional life, I’m an avid fan of video games, astronomy, 
      and spending time with my cat.
      Based in Bogotá, Colombia, I aim to create software that makes a meaningful impact both technically and personally.
    </p>
  </div>

  <img width="200" height="200" src="/jhonny.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>