---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "September 2023 - Today",
    title: "Senior .NET Developer",
    company: "Keyrus",
    description: "Working for cinema ticketing SaaS platform designed exclusively for cinema operators",
  },
  {
    date: "Jul 2021 — Oct 2022",
    title: "Senior Golang Developer",
    company: "Gorilla Logic",
    description: 
    "Development of connectors to obtain information from different sources such as Jira, Ansible Tower, github, etc, transform and send to a database to generate infrastructure reports",
  },
  {
    date: "Jun 2019 — Jul 2021",
    title: ".Net Software Engineer",
    company: "Globant",
    description: 
    "Implementation of an ETL platform consumable through a REST API interpreting Microsoft ARM templates, making use of different technologies such as WEB API (Net core 3.1), Cosmos DB, Ansible Tower, Service Bus, Key Vault, Azure Data Factory. Create and publish NuGet packages with JFrog and ADO Artifacts",  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
